<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="My first Handlebars page">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset }}/css/styles.css">
    <script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{!
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> }}
    {{!
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script> }}
    <script>
        $(document).ready(function () {
            let source = $('#entry-template').html();
            let template = Handlebars.compile(source);
            let context = { name: 'John', age: 25 };
            let html = template(context);
            $('#root').append(html);
        });
    </script>
    {{ ghost_head }}
    <title>My First Handlebars Page</title>
</head>

<body>
    Test data
    {{{body}}}
    {{ ghost_foot }}

</body>

</html>