html {
    line-height: 1.5;
    font-feature-settings: normal;
    font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f6f6f6;
}

.reset {
    margin:0;
    padding:0;
}

.mg-1-5 {
    margin: 1.5rem;
}

.p-1 {
    padding: 1rem;
}

.mvh-100 {
    min-height:100vh;
  }

.container-fluid {
    margin: 0;
    padding: 0;
}

.disclaimer {
    margin: 1rem;
    color: #767676;
}

 


/*

.header-container{
    min-height: 200px;
    background-color:#ca592c;
}

.footer-container {
    background-color:#9ACD32;
    padding: 1rem 0 1rem 0;
    background-color:linear-gradient(#eeeeee, #f0f0f0);
}

.footer-wrapper {
    margin: 0 1rem 0 1rem;
}



.body-container {
    flex: 1;
}

.container-c {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.relative {
    position: relative;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

@media screen and (max-width: 600px){
    .footer-container {
        background-color:#8032cd;
        padding: 1rem 0 1rem 0;
    }

    .footer-wrapper {
        display: block;
    }
} */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .sm-alt-footer-content-center {
        justify-content: center !important;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1500px;
    }
}